<a href="https://colab.research.google.com/github/RiccardoRubini93/SWA_DQ/blob/main/create_9899_big_query_test_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [2]:
project_id = "advanced-analytics-278408"
from google.cloud import bigquery
client = bigquery.Client(project=project_id)

In [ ]:
#define array on which we need to loop

query_schema_list = '''
        SELECT
        ARRAY_AGG(CONCAT(project_id,".", 	dataset_id,".",table_id ))  
        FROM
        advanced-analytics-278408.data__1st_layer.9891__monitoring_information_and_params
        WHERE is_to_be_monitored= TRUE
        '''

schema_list = client.query(query_schema_list).to_dataframe()
schema_list.head()

In [6]:
query_date_loop = '''
        SELECT
        ARRAY_AGG(data_loop_field)  
        FROM
        advanced-analytics-278408.data__1st_layer.9891__monitoring_information_and_params
        WHERE is_to_be_monitored= TRUE
        '''

date_loop_list = client.query(query_date_loop).to_dataframe()
date_loop_list.head()

                                                 f0_
0  [analysis_date, order_date, DATE, DATE, DATE, ...

In [7]:
query_id_loop = '''
        SELECT
        ARRAY_AGG(id_field)  
        FROM
        advanced-analytics-278408.data__1st_layer.9891__monitoring_information_and_params
        WHERE is_to_be_monitored= TRUE
        '''

id_loop_list = client.query(query_id_loop).to_dataframe()
id_loop_list.head()

                                                 f0_
0  [analysis_date_time, transaction_id, DATE, DAT...

In [45]:
#check if table exist 

from google.cloud.exceptions import NotFound

table_id = "advanced-analytics-278408.user__rubini_riccardo.9899_big_query_test_v3"

try:
    client.get_table(table_id)  # Make an API request.
    print("Table {} already exists.".format(table_id))
except NotFound:
    print("Table {} is not found.".format(table_id))

Table advanced-analytics-278408.user__rubini_riccardo.9899_big_query_test_v3 is not found.

In [57]:
#create the initial table where to append the new data to

from google.cloud.exceptions import NotFound

table_id = "advanced-analytics-278408.user__rubini_riccardo.9899_big_query_test_v3"

try:
  client.get_table(table_id)  # Make an API request.
  print("Table {} already exists.".format(table_id))

except NotFound:
  print("Table {} is not found, creating it....".format(table_id))
  query_create_statement = f'''
              create table {table_id} as (
                select t1.*, t2.* FROM (with temp_tb as (select 'advanced-analytics-278408.data__1st_layer.9899__pipelines_target_tables_metadata' as full_table_id ,CAST(analysis_date as STRING) as order_date, count(distinct(analysis_date_time)) as transaction_id_cnt,count(*) as cnt FROM advanced-analytics-278408.data__1st_layer.9899__pipelines_target_tables_metadata group by analysis_date order by order_date desc ), aggregated_table as ( select full_table_id, array_agg(struct(order_date,transaction_id_cnt,cnt)) as day_list FROM temp_tb group by full_table_id), master_tb as (SELECT 'advanced-analytics-278408.data__1st_layer.9899__pipelines_target_tables_metadata' as full_table_id , count(*) as total_rows, CAST(min(analysis_date) AS STRING) as min_date, CAST(max(analysis_date) AS STRING) as max_date, count(distinct analysis_date_time) as id_distinct_count FROM advanced-analytics-278408.data__1st_layer.9899__pipelines_target_tables_metadata) select t1.full_table_id,t2.min_date,t2.max_date,t2.id_distinct_count,t2.total_rows,t1.day_list FROM aggregated_table t1 join master_tb t2 on (t1.full_table_id = t2.full_table_id)) AS t1 JOIN `advanced-analytics-278408.data__1st_layer.9891__monitoring_information_and_params` as t2 on t1.full_table_id = t2.complete_table_id
              ); 
  '''
  create_table_9899 = client.query(query_create_statement)
  rows = create_table_9899.result()

Table advanced-analytics-278408.user__rubini_riccardo.9899_big_query_test_v3 is not found, creating it....

In [21]:
print(schema_list.values[0][0][1])
print(date_loop_list.values[0][0][1])
print(id_loop_list.values[0][0][1])

advanced-analytics-278408.data__1st_layer.0005__customer_transactions_online_eur
order_date
transaction_id

In [41]:
#assemle test string to perform insert

string = f'''
select t1.*, t2.* FROM (with temp_tb as (select '{schema_list.values[0][0][1]}' as full_table_id ,
CAST({date_loop_list.values[0][0][1]} as STRING) as order_date, 
count(distinct({id_loop_list.values[0][0][1]})) as transaction_id_cnt,
count(*) as cnt FROM {schema_list.values[0][0][1]} group by {date_loop_list.values[0][0][1]} order by {date_loop_list.values[0][0][1]} limit 100), 
aggregated_table as ( select  full_table_id, array_agg(struct(order_date,transaction_id_cnt,cnt)) as day_list FROM  temp_tb  group by full_table_id), 
master_tb as (SELECT '{schema_list.values[0][0][1]}' as full_table_id , count(*) as total_rows, CAST(min({date_loop_list.values[0][0][1]}) AS STRING) as min_date, 
CAST(max({date_loop_list.values[0][0][1]}) AS STRING) as max_date, count(distinct {id_loop_list.values[0][0][1]}) as id_distinct_count 
FROM {schema_list.values[0][0][1]}) select t1.full_table_id,t2.min_date,t2.max_date,t2.id_distinct_count,t2.total_rows,t1.day_list 
FROM aggregated_table t1 join master_tb t2 on (t1.full_table_id = t2.full_table_id)) AS t1 
JOIN  `advanced-analytics-278408.data__1st_layer.9891__monitoring_information_and_params` as t2 
on t1.full_table_id = t2.complete_table_id;
'''

insert_string = 'insert into `advanced-analytics-278408.user__rubini_riccardo.9899_big_query_test_v3`' + string

print(insert_string)

insert_test_job = client.query(insert_string)

insert into `advanced-analytics-278408.user__rubini_riccardo.9899_big_query_test_v3`
select t1.*, t2.* FROM (with temp_tb as (select 'advanced-analytics-278408.data__1st_layer.0005__customer_transactions_online_eur' as full_table_id ,
CAST(order_date as STRING) as order_date,
count(distinct(transaction_id)) as transaction_id_cnt,
count(*) as cnt FROM advanced-analytics-278408.data__1st_layer.0005__customer_transactions_online_eur group by order_date order by order_date limit 100),
aggregated_table as ( select  full_table_id, array_agg(struct(order_date,transaction_id_cnt,cnt)) as day_list FROM  temp_tb  group by full_table_id),
master_tb as (SELECT 'advanced-analytics-278408.data__1st_layer.0005__customer_transactions_online_eur' as full_table_id , count(*) as total_rows, CAST(min(order_date) AS STRING) as min_date,
CAST(max(order_date) AS STRING) as max_date, count(distinct transaction_id) as id_distinct_count
FROM advanced-analytics-278408.data__1st_layer.0005__customer_transactions_online_eur) select t1.full_table_id,t2.min_date,t2.max_date,t2.id_distinct_count,t2.total_rows,t1.day_list
FROM aggregated_table t1 join master_tb t2 on (t1.full_table_id = t2.full_table_id)) AS t1
JOIN  `advanced-analytics-278408.data__1st_layer.9891__monitoring_information_and_params` as t2
on t1.full_table_id = t2.complete_table_id;

In [58]:
#loop over the lists previously defined to append the new columns

N = schema_list.values[0][0].shape[0]
history_limit = 200

for i in range(1,N):

  print(f"Step : {i} -- Writing info for : {schema_list.values[0][0][i]}" )

  string = f'''
          select t1.*, t2.* FROM (with temp_tb as (select '{schema_list.values[0][0][i]}' as full_table_id ,
          CAST({date_loop_list.values[0][0][i]} as STRING) as order_date, 
          count(distinct({id_loop_list.values[0][0][i]})) as transaction_id_cnt,
          count(*) as cnt FROM {schema_list.values[0][0][i]} group by {date_loop_list.values[0][0][i]} order by {date_loop_list.values[0][0][i]} desc limit {history_limit}), 
          aggregated_table as ( select  full_table_id, array_agg(struct(order_date,transaction_id_cnt,cnt)) as day_list FROM  temp_tb  group by full_table_id), 
          master_tb as (SELECT '{schema_list.values[0][0][i]}' as full_table_id , count(*) as total_rows, CAST(min({date_loop_list.values[0][0][i]}) AS STRING) as min_date, 
          CAST(max({date_loop_list.values[0][0][i]}) AS STRING) as max_date, count(distinct {id_loop_list.values[0][0][i]}) as id_distinct_count 
          FROM {schema_list.values[0][0][i]}) select t1.full_table_id,t2.min_date,t2.max_date,t2.id_distinct_count,t2.total_rows,t1.day_list 
          FROM aggregated_table t1 join master_tb t2 on (t1.full_table_id = t2.full_table_id)) AS t1 
          JOIN  `advanced-analytics-278408.data__1st_layer.9891__monitoring_information_and_params` as t2 
          on t1.full_table_id = t2.complete_table_id;
          '''
  insert_string = 'insert into `advanced-analytics-278408.user__rubini_riccardo.9899_big_query_test_v3`' + string

  insert_test_job = client.query(insert_string)
  rows = insert_test_job.result()

Step : 1 -- Writing info for : advanced-analytics-278408.data__1st_layer.0005__customer_transactions_online_eur
Step : 2 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0004__v3__traffic_transaction_adj
Step : 3 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0006__cogs
Step : 4 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0019__cogs_csl
Step : 5 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0003__v4__store_master
Step : 6 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0015__returns
Step : 7 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0014__repairs
Step : 8 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0005__online_sales_hist
Step : 9 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0016__hr_learning
Step : 10 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0017__retail_profit_loss
Step : 11 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0018__capex
Step : 12 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0021__esri_transaction
Step : 13 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.7201__daily_visit_count
Step : 14 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.7202__common_evening_location
Step : 15 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.7203__common_day_location
Step : 16 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0002__product_master
Step : 17 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0001__transactions
Step : 18 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0028__net_sales_report
Step : 19 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0032__profit_and_loss_fr_hier
Step : 20 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0032__proift_and_loss_fr_exploration
Step : 21 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0201__crm_main
Step : 22 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0202__crm_id
Step : 23 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0203__crm_loy
Step : 24 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0204__crm_cards
Step : 25 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0205__crm_attr
Step : 26 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.0207__crm_tier
Step : 27 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.1001__crm_interactions
Step : 28 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.1002__crm_interaction_campaigns
Step : 29 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.1003__crm_interaction_content
Step : 30 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.1004__crm_interaction_target_groups
Step : 31 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.1005__crm_interaction_summary
Step : 32 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.1901__workday_export
Step : 33 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.2504__digital_shelves_tracking
Step : 34 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.5004__ad_payment
Step : 35 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.6004__mm_eyeota
Step : 36 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9001__emotion_cat
Step : 37 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9002__negative_postings
Step : 38 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9003__reach
Step : 39 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9004__prevalent_emotions
Step : 40 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9005__sentiment_trend
Step : 41 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9006__top_neg_terms
Step : 42 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9007__brand_overall_engagement
Step : 43 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9008__brand_earned_engagement
Step : 44 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9009__brand_owned_engagement
Step : 45 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9010__brand_mentions
Step : 46 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9011__product_overall_engagement
Step : 47 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9012__product_earned_engagement
Step : 48 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9013__product_owned_engagement
Step : 49 -- Writing info for : advanced-analytics-278408.Draft_Data_Model.9014__product_mentions

In [ ]:
#evolutives cells
#compute field info and join to the other table

query1 = '''
create or replace table `advanced-analytics-278408.user__rubini_riccardo.9899_column_info` as (
SELECT 
concat(t1.table_catalog,'.',t1.table_schema,'.',t1.table_name) as full_table_id , array_agg(struct(t2.ordinal_position,t1.column_name,t1.data_type,t1.description)) as fields
FROM `advanced-analytics-278408.data__1st_layer.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS` as t1
INNER JOIN 
advanced-analytics-278408.data__1st_layer.INFORMATION_SCHEMA.COLUMNS as t2
ON (concat(t1.table_catalog,'.',t1.table_schema,'.',t1.table_name) = concat(t2.table_catalog,'.',t2.table_schema,'.',t2.table_name))
AND (t1.column_name = t2.column_name)
group by concat(t1.table_catalog,'.',t1.table_schema,'.',t1.table_name)
);
'''

#join to the other table

query2 = '''
select t1.*,t2.fields
from advanced-analytics-278408.user__rubini_riccardo.9899_big_query_test_v3 as t1
inner join advanced-analytics-278408.user__rubini_riccardo.9899_column_info as t2
on (t1.full_table_id = t2.full_table_id)
'''


#query this table to get info about labels "advanced-analytics-278408.data__1st_layer.INFORMATION_SCHEMA.TABLE_OPTIONS"

#query to compute how many fields have the description need to join this with the final table 9899

query_count = '''
          select 
          concat(table_catalog,'.',table_schema,'.',table_name), 
          sum(case when description is not null then 1 else 0 end) as described_fields_count 
          from advanced-analytics-278408.data__1st_layer.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS
          group by concat(table_catalog,'.',table_schema,'.',table_name);
'''

In [59]:
#join the newly created table with the metadata in the master 
#insert table into advanced-analytics-278408.data__1st_layer.9899__pipelines_target_tables_metadata

final_table_id = 'advanced-analytics-278408.Draft_Data_Model.9899__pipelines_target_tables_metadata_v2'

#define prefix to distinguish whether the table exist already or not

insert = f'insert into {final_table_id}'
create = f'create table {final_table_id} as  ('

#define query to be run to populate the table

sql_body = '''
    select tc1.*, tc2.ddl, tc2.table_ddl_extracted_description

FROM 

(select  t_meta_table.*, min_date, max_date, 	
--id_distinct_count, 
t_meta_topic.day_list,
complete_table_id, table_code, is_to_be_monitored, current_development_status, current_development_status_id, source_system_id, source_system_name, source_system_ownership_type, extraction_tool, extraction_script, extraction_is_scheduled, extraction_schedule_pattern, landing_zone, landing_zone_path, landing_zone_form, loading_tool, load_script, load_is_scheduled, load_schedule_pattern, load_form, is_dx_framework_applied, id_field, data_loop_field, data_loop_granularity, overall_documentation_URL, to_do_pending, notes 

from

(SELECT CURRENT_DATE() AS analysis_date, CURRENT_DATETIME()AS analysis_date_time, project_id,   dataset_id,   table_id,   TIMESTAMP_MILLIS(creation_time) AS creation_datetime, TIMESTAMP_MILLIS(last_modified_time) AS last_modified_datetime,  column_count, row_count,      size_bytes, ROUND((size_bytes)/pow(10,6),2) as size_megabytes, ROUND((size_bytes)/pow(10,9),2) as size_gigabytes  , type AS table_type

FROM (Select * FROM advanced-analytics-278408.Draft_Data_Model.__TABLES__ UNION ALL Select * FROM advanced-analytics-278408.data__1st_layer.__TABLES__) as t1

JOIN (SELECT table_catalog,     table_schema,   table_name, max(ordinal_position) as column_count
FROM  (Select * FROM `advanced-analytics-278408.Draft_Data_Model.INFORMATION_SCHEMA.COLUMNS` UNION ALL Select * FROM `advanced-analytics-278408.data__1st_layer.INFORMATION_SCHEMA.COLUMNS`) 

group by table_catalog,     table_schema,   table_name) as t2

on t1.table_id = t2.table_name) as t_meta_table


JOIN (SELECT * from advanced-analytics-278408.user__rubini_riccardo.9899_big_query_test_v3 ) as t_meta_topic

on CONCAT(t_meta_table.project_id,".", 	t_meta_table.dataset_id,".",t_meta_table.table_id) = t_meta_topic.full_table_id


order by table_id) as tc1 LEFT JOIN


(SELECT CONCAT(table_catalog,".", table_schema,".", table_name) as unique_table_id, creation_time, ddl, CASE WHEN ddl like CONCAT("%)","","OPTIONS(","","  description=%") THEN
SPLIT(ddl, CONCAT(")","","OPTIONS(","","  description="))[SAFE_OFFSET(ARRAY_LENGTH(SPLIT(ddl, CONCAT(")","","OPTIONS(","","  description="))) - 1)]
  ELSE "Description not yet available"
  END AS table_ddl_extracted_description FROM `advanced-analytics-278408.data__1st_layer.INFORMATION_SCHEMA.TABLES`

  union all
  
SELECT CONCAT(table_catalog,".", table_schema,".", table_name) as unique_table_id, creation_time, ddl, CASE WHEN ddl like CONCAT("%)","","OPTIONS(","","  description=%") THEN
SPLIT(ddl, CONCAT(")","","OPTIONS(","","  description="))[SAFE_OFFSET(ARRAY_LENGTH(SPLIT(ddl, CONCAT(")","","OPTIONS(","","  description="))) - 1)]
  ELSE "Description not yet available"
  END AS table_ddl_extracted_description FROM `advanced-analytics-278408.Draft_Data_Model.INFORMATION_SCHEMA.TABLES`) as tc2
  
  ON tc1.complete_table_id = tc2.unique_table_id    
'''

#check if table exsist, if not create one else insert data in the new table

try:
  client.get_table(final_table_id)  # Make an API request.
  print("Table {} already exists, insert new rows....".format(final_table_id))

  #build query_string
  query_string = insert + sql_body + ';'

  job = client.query(query_string)
  res = job.result()

except NotFound:
  print("Table {} is not found, creating it....".format(final_table_id))
  
  #build query_string
  query_string = create + sql_body + ');'

  job = client.query(query_string)
  res = job.result()

Table advanced-analytics-278408.Draft_Data_Model.9899__pipelines_target_tables_metadata_v2 already exists, insert new rows....